.table-wrapper {
  overflow: auto;
  width: 100%;
}

.csv-html-table,
.html-table {
  margin-top: var(--i-regular);
  border-top: 0;

  thead,
  tr {
    font-size: 1rem;
    border-top: 1px solid var(--c-light);
  }

  thead {
    font-weight: 700;
    background-color: var(--c-light);
  }

  thead th {
    font-size: 1rem;
    font-variant: none;
    letter-spacing: normal;

    &:not(:first-child):not(:last-child) {
      border-left: 0;
      border-right: 0;
    }
  }

  tr {
    &,
    td {
      border-left: 0;
      border-right: 0;
    }

    &:nth-child(2n) {
      background-color: var(--c-lightest);

      td {
        border-left: 0;
        border-right: 0;
      }
    }
  }

  td,
  th {
    font-family: var(--f-body);

    padding: var(--i-regular);
  }
}
